html {
  background: linear-gradient(#43cea2, #185a9d);
  height: 130vh;
  font-family: 'Lato', sans-serif;
}

.grid-container {
  margin: auto;
  margin-top: 10vh;
  display: grid;
  height: 60vh;
  width: 30vw;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px 10px;
  grid-template-areas: 
    "display display display display" 
    "clr clr clr div" 
    "b7 b8 b9 multi" 
    "b4 b5 b6 subtract" 
    "b1 b2 b3 add" 
    "b0 b0 dec equals"; 
}

.display {
  grid-area: display;
  background: rgb(0, 0, 0, 0.6);
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: right;
  border-radius: 3px;
  padding: 20px;
  color: white;
  border: 1px solid rgb(0, 0, 0, 0.25);
}

.display h1 {
    font-size: 3em;
    line-height: 80%
}

.display p {
    font-size: 1.5em;
    line-height: 100%
}

button:hover {
  border: 1px solid #ffffff;
}

.button {
  border-radius: 2px;
  text-align: center;
  font-size: 3em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-primary {
  background: rgb(0, 0, 0, 0.25);
  border: 1px solid rgb(0, 0, 0, 0.25);
}

.button-secondary {
  background: rgb(0, 0, 0, 0.4);
  border: 1px solid rgb(0, 0, 0, 0.25);
}

.button-operator {
  background: rgb(0, 0, 0, 0.6);
  border: 1px solid rgb(0, 0, 0, 0.25);
}

#clear {
  grid-area: clr;
}

#one {
  grid-area: b1;
}

#two {
  grid-area: b2;
}

#three {
  grid-area: b3;
}

#four {
  grid-area: b4;
}

#five {
  grid-area: b5;
}

#six {
  grid-area: b6;
}

#seven {
  grid-area: b7;
}

#eight {
  grid-area: b8;
}

#nine {
  grid-area: b9;
}

#zero {
  grid-area: b0;
  border-radius: 2px;
  text-align: center;
  font-size: 3em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 45px;
}

#divide {
  grid-area: div;
}

#multiply {
  grid-area: multi;
}

#subtract {
  grid-area: subtract;
}

#add {
  grid-area: add;
}

#decimal {
  grid-area: dec;
}

#equals {
  grid-area: equals;
}

@media (max-height: 900px) {
  .grid-container {
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 80vh;
  }
}

@media (max-height: 750px) {
  .grid-container {
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 5vh;
    height: 93vh;
  }
  .button {
    font-size: 1.5em;
  }
  #zero {
    font-size: 1.5em;
  }
  .display h1 {
    font-size: 2em;
    line-height: 80%
  }
  .display p {
      font-size: 1.25em;
      line-height: 100%
  }
}

@media (max-width: 1000px) {
  .grid-container {
    margin: auto;
    width: 50vw;
    max-width: 50vw;
  }
}

@media (max-width: 750px) {
  .grid-container {
    margin: auto;
    width: 80vw;
    max-width: 80vw;
  }
}